.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a,strong{
  color: cyan;
}

h3{
  display: flex;
  margin-left: 20px;
}

.box{

  height: 7cm;
  width: 28cm;

  background: rgb(0,58,242);
  background: linear-gradient(54deg, rgba(0,58,242,1) 0%, rgba(255,24,24,1) 66%, rgba(252,176,69,1) 100%); 

  border: 1px solid;
  border-radius: 10px;

}

/* From uiverse.io by @adamgiebl */
button {
  background: #FBCA1F;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
 }
 
 button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
  cursor: pointer;
 }
 
 button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
 }

.walletConnect{
  font-family: 'Courier New', Courier, monospace;
}